{{> head }}

    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Iron Man</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, vitae dolor officia placeat nesciunt explicabo consectetur aliquam sequi, nihil eaque repudiandae quidem dolores. Sequi assumenda odio eaque quod, nisi quis.
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/iron-man.jpg" class="img-thumbnail">
        </div>
    </div>

{{> footer }}